body
{
    margin:0px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:white;
    margin:0;
    padding:0;
    
}
.main
{  
   background-color:#fff5f5  ;
   padding: 20px 0px;
   position: relative;
   top:0;
   left:0;
   font-weight: bold;
   z-index: 1;
   font-size: 15px;
   text-align: center;   
}   

.main span
{ 
  color: #222222;
  margin: 1px;
}
.main a
{
  color: black;
}

/* headerfor small screen */

.small-header
    {
        
        background: rgb(255, 255, 255);
        position: sticky;
        top:0;
        width:100%;
        padding-top: 10px;
        padding-bottom: 2px;
        align-items: center;
        font:12px;
        z-index: 1;
    }

    .mobile-header
    {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: .7em;
      margin:1em;
      margin-right: 2em; /*header group  */
      background-color: #ffffff;
      border-radius: 40px;
      border: 1px ;
      box-shadow: .1px 5px 5px 5px rgba(109, 108, 108, 0.151);
      

    }
    .header-left 
    {
      display: flex;
      align-items: left;
    
    }

    .header-left .text
    {
        opacity:50%;
    }
    .header-left button
    {
      border: none;
      margin-right: 10px;
      font-size: 16px;
      color: #333;
      background-color: transparent;
      cursor: pointer;
    }

    .header-left .search-btn img 
    {
      width: 20px;
      height: 20px;
    }

    /* filter icon on mobile search */
    .header-right button 
    {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background-color: transparent;
      position: absolute;
      cursor: pointer;
      border-radius: 50%; /* add circular border */
      border: 2px solid #ccc; /* add border color */
      width: 30px; /* added width */
      height: 30px; /* added height */
      position: sticky;
      top: 0px;
      
    }

     .filter-btn img 
    {
      width: 24px;
      height: 24px;
    }

 .filter-btn 
    {
      position: absolute;
      top: 1.2em;
      right: 1em;
      width: 20px;
      height: 20px;
      font-size: 12px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }

     /* nav bar for small screen */

.nav
{
  position:sticky;
  z-index: 1;
  top:5em;
  background: #ffffff;
  border:  1px  #ccc; 
  overflow: hidden;
  box-shadow: .1px 5px 5px 5px rgba(109, 108, 108, 0.151);
}

.navbar-item
{
    opacity: 60%;
}

.navbar-item:hover
{
    opacity: 100%;
}

.navbar-wrapper 
{
  position: relative;
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}

.navbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
  padding:2%;
}

.navbar-item:last-child {
  margin-right: 0;
}

.navbar-item img {
  width: 2.4em;
  height: auto;
}

span
{
  color: #222222;
  text-decoration: none;
}



.navbar-container 
{
    margin-left: 4%;
    margin-right:1%; /* its for the nav bar overlayer
   margin-left: 10%;  when you want to make more overlayeer */
    display:block;
    position: sticky;
    padding-top: -1em;
    z-index: 1;

}
.navbar-overlay
     {
            top: 2%;
            right: 1em;
            width: 30px;
            height: 200px;
            background: linear-gradient(to right, transparent, rgb(255, 255, 255));
     } 
 

.navbar
    {
      display: flex;
      /* transition: transform 0.3s ease-out;  */
    }

   
   
/* Hide scrollbar */
::-webkit-scrollbar 
  {
    display: none;
  }


   /* grid vs flex base styles */
  
  #block
  {
     background-color:#ffffff;
     display: flex;
     flex-wrap: wrap;
  }
.flex-container
{ 
  position: relative;
  background-color: #ffffff;
  display: block;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 6%;
}

.flex-item {
    flex-wrap: wrap;
    position:relative;
    flex-basis: 30em;
    height:auto;
    margin-bottom: 10%;
    font-size:15px;
  }

  .flex-item h2
{
  font-size: 16px;
  line-height: 1px;
}
.flex-item span
{
  font-size: 14px;
}
.flex-item p
{
  font-size: 16px;
  font: bold;
  line-height: 1px;
  
}

.flex-item img
{   flex-wrap: wrap;
    width:100%;
    height:450px;
    border-radius: 2.5%;
}

.love-button {
  position: absolute;
  padding:0px;
  top: 10px;
  right: 10px;
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.love-button::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("assets/love28.png");
  background-size: cover;
  background-position: center;
}

.love-button:active::after {
  background-image: url("assets/lovee28.png");
}


  /* map button */
  #map-button {
    position: fixed;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 50px;
    font-size: 12px;
    cursor: pointer;
    width: 120px;
    max-width: 90%;
  }
  #map-button span
  {
    font-weight: bold;
    color: #ffffff;
  }
  
  #map-icon {
    display: inline-block;
    vertical-align: middle; 
    margin-left: 1px;
    width: 15%;
    height: 25%;
  }
/* footer */
  footer 
    {
      background-color: #f2f2f2;
      padding: 10px;
      position: sticky;
      bottom: 0;
    }
    
     .icon-container {
      display: flex;
      justify-content: center;
    }
    
    .icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 20px;
    }
    
    .icon img {
      width: 30px;
      height: 30px;
      opacity: 0.5;
      transition: opacity 0.3s ease;
    }
    
    .icon:hover img {
      opacity: 1;
    }
    
    .icon p {
      margin-top: 10px;
      text-align: center;
    }
  
    .footer.hidden {
      transform: translateY(100%);
    }

  /* mobile screen 550px */
  @media screen and  (max-width: 550px) 
  {
    
    .main 
    {
      display: none;
    }

    .large-screen /* header for large screen*/
{
  display: none;
}

    /* naving bar for mobile device */
   
    .navbar-button
    {
     display: none;
    } 
    .navbar-buttons
    {
      display: none;
    }
 
    /* grid */
.flex-container
 {
  display: block;
  flex-direction: column;
  bottom: 5%;
  font-size: 16px;
}


.flex-container {
  flex-direction: column;
}





.big-screen /*footer large screen */
{
    display: none;
} 



  }